<svg (click)="loginPopup()" xmlns="http://www.w3.org/2000/svg" width="35px" style="margin-right: 4%;" height="35px"
    fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
</svg>


<div class="popup-popupEmail" id="popupEmail">
    <div class="content">
        <span style="padding-left: 95%;border: none;">
            <button style="border: none;background-color: white;" type="button" (click)="closePopup()"><span
                    style="color: rgb(74, 170, 218);">&times;</span></button>
        </span>


        <div class="row" id="rowbody">
            <div class="list">
                <p><b>Men</b><span style="margin-left: 80%;"><svg (click)="men()" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                                d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                        </svg></span></p>
                <p><b>Women</b><span style="margin-left: 72%;"><svg (click)="women()" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                                d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                        </svg></span></p>
                <p><b>Kids</b><span style="margin-left: 79%;"><svg (click)="kid()" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                                d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                        </svg></span></p>
                <p><b>Accessories</b></p>
                <p><b>Contact</b></p>
                <p><b>Track Order</b></p>
            </div>
            <br>
            <br>
            <br>
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i style="font-size: x-large;" class="fa-brands fa-twitter"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: x-large;"
                        class="fa-brands fa-square-facebook"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: x-large;" class="fa-brands fa-instagram"></i></a>
                <a class="navbar-brand" href="#"><i style="font-size: x-large;" class="fa-brands fa-youtube"></i></a>
            </div>
        </div>


        <div class="row" id="rowbodynext">
            <p style="text-align: center;"><b>{{headertitle}}</b></p>
            <div class="list">
                <p><b>Rainwear</b></p>
                <p><b>Winterwear</b></p>
            </div>
        </div>




    </div>
</div>