<div class="container-flex">
  <div class="row" style="padding: 15px;">
    <div class="col-md-12">
      <img src="../../../assets/Zeel_Catagor_Banner.webp">
    </div>


    <div class="col-md-12" style="padding-top: 25px;">
      <h2 style="text-align: center;font: 31px;color: #313e5e;">
        <b> SHOP BY CATEGORY</b>
      </h2>
    </div>
  </div>
</div>





<div class="container-flex"  id="cont" style="display: flex;justify-content: space-between;padding: 7px;">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/mancategory.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
          <p style="text-align: center;" class="card-text">55 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets//femalecategory.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="text-align: center;" class="card-title">Women Rainwear</h5>
          <p style="text-align: center;" class="card-text">28 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/kidscategory.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="text-align: center;" class="card-title">Kids Rainwear</h5>
          <p style="text-align: center;" class="card-text">20 Products</p>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="container-flex" style="padding-left: 7px;padding-right: 7px;">
  <h2 style="font-family: sans-serif;color: #ff6a38;"><b>BEST IN MENS</b></h2>
  <div class="cards">
    <div class="cardmens">
      <img style="height: 367px;" src="../../../assets/bestinmens/img1.webp" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinmens/img2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinmens/img3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinmens/img4.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinmens/img5.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinmens/img6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>

  </div>
</div>







<div class="container-flex" style="padding-left: 7px;padding-right: 7px;">
  <h2 style="font-family: sans-serif;color: #ff6a38;"><b>BEST IN WOMEN</b></h2>
  <div class="cards">
    <div class="cardmens">
      <img style="height: 367px;" src="../../../assets/bestinwomen/img1.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Women Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img style="height: 367px;" src="../../../assets/bestinwomen/img8.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinwomen/img3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinwomen/img4.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinwomen/img5.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img style="height: 367px;" src="../../../assets/bestinwomen/img7.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>

  </div>
</div>





<div class="container-flex" style="padding-left: 7px;padding-right: 7px;">
  <h2 style="font-family: sans-serif;color: #ff6a38;"><b>BEST IN KIDS</b></h2>
  <div class="cards">
    <div class="cardmens">
      <img style="height: 367px;" src="../../../assets/bestinkids/img1.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Kids Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinkids/img2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinkids/img3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinkids/img4.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinkids/img5.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>
    <div class="cardmens">
      <img src="../../../assets/bestinkids/img6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title">Mens Rainwear</h5>
        <p style="text-align: center;" class="card-text">55 Products</p>
      </div>
    </div>

  </div>
</div>