<nav class="navbar navbar-expand-lg " style="background-color: #01B1BA;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i style="font-size: large;" class="fa-brands fa-twitter"></i></a>
        <a class="navbar-brand" href="#"><i style="font-size: large;" class="fa-brands fa-square-facebook"></i></a>
        <a class="navbar-brand" href="#"><i style="font-size: large;" class="fa-brands fa-instagram"></i></a>
        <a class="navbar-brand" href="#"><i style="font-size: large;" class="fa-brands fa-youtube"></i></a>
        <div class="navbar-collapse" id="navbarText">
            <span class="discount">
                Use Discount Code "<strong>ZEEL10</strong>" &amp; Get 10% OFF
            </span>
        </div>
    </div>
</nav>


<div class="container-flex">
    <div class="row" id="winnavbar" style="margin-left: 5px;margin-right: 5px;background-color:rgb(238, 237, 237);">
        <div class="col-3" style="text-align: left;">
            <img style="height: 44px;padding: 5px;" src="../../../assets/zeellogo.png">
        </div>
        <div class="col-6" style="text-align: center;padding: 7px;">

            <li class="upper-links dropdown" style="border: none;padding-right: 15px;"><button routerLink="/products"
                    style="border: none;">Men</button>
                <ul class="dropdown-menu">
                    <li class="profile-li"><a class="profile-links" style="font-size: large;"
                            routerLink="/products">Rainwear</a></li>
                    <li class="profile-li"><a class="profile-links" style="font-size: large;"
                            routerLink="/products">Winterwear</a></li>
                </ul>
            </li>
            <li class="upper-links dropdown" style="border: none;padding-right: 15px;"><button routerLink="/products"
                    style="border: none;">Women</button>
                <ul class="dropdown-menu">
                    <li class="profile-li"><a class="profile-links" style="font-size: large;"
                            routerLink="/products">Rainwear</a></li>
                    <li class="profile-li"><a class="profile-links" style="font-size: large;"
                            routerLink="/products">Winterwear</a></li>
                </ul>
            </li>
            <li class="upper-links dropdown" style="border: none;padding-right: 15px;"><button routerLink="/products"
                    style="border: none;">Kids</button>
                <ul class="dropdown-menu">
                    <li class="profile-li"><a class="profile-links" style="font-size: large;"
                            routerLink="/products">Rainwear</a></li>
                    <li class="profile-li"><a class="profile-links" style="font-size: large;"
                            routerLink="/products">Winterwear</a></li>
                </ul>
            </li>
            <!-- <button style="border: none;padding-right: 20px;">Men</button>
            <button style="border: none;padding-right: 20px;">Women</button>
            <button style="border: none;padding-right: 20px;">Kids</button> -->
            <button style="border: none;padding-right: 20px;">Accessories</button>
            <button style="border: none;padding-right: 20px;">Contact</button>
            <button style="border: none;padding-right: 20px;">Track Order</button>
            <!-- <li class="upper-links dropdown" style="padding-left: 30px;padding-top: 8px;">More
                <ul class="dropdown-menu">
                    <li class="profile-li"><a class="profile-links" routerLink="/myorder">My Order</a></li>
                    <li class="profile-li"><a class="profile-links">Link</a></li>
                    <li class="profile-li"><a class="profile-links">Link</a></li>
                    <li class="profile-li"><a class="profile-links">Link</a></li>
                    <li class="profile-li"><a class="profile-links">Link</a></li>
                </ul>
            </li> -->
            <!-- <a class="nav-links" href="#">Women</a>
            <a class="nav-links" href="#">Kids</a>
            <a class="nav-links" href="#">Accessories</a>
            <a class="nav-links" href="#">Contact</a>
            <a class="nav-links" href="#">Track Order</a> -->
        </div>
        <div class="col-3" style="text-align: right;padding: 7px;">

            <svg width="20" (click)="searchmodel()" height="20" style="margin-right: 10px;" viewBox="0 0 26 26"
                aria-hidden="true">
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)" stroke="currentColor">
                        <circle cx="10.364" cy="10.364" r="10.364"></circle>
                        <path stroke-linecap="square" d="m18 18 5.777 5.788"></path>
                    </g>
                </g>
            </svg>


            <span class="cart-link__label" style="font-size: small;color: rgb(123, 123, 123);">Cart</span>
            <svg width="20px" height="20px" viewBox="0 0 24 24" aria-hidden="true">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                        d="M3.5,2.75 C4.87766445,2.75 5.56649668,2.75 5.56649668,2.75 C5.56649668,2.75 6.03257795,7.25 6.96474049,16.25 L19.5,16.25"
                        stroke="currentColor" stroke-linecap="square"></path>
                    <path
                        d="M6.22627526,6.67553191 C14.8659742,6.67553191 19.1858237,6.67553191 19.1858237,6.67553191 C19.1858237,6.67553191 18.9160351,8.71453901 18.376458,12.7925532 L7.62925996,13.9095745"
                        stroke="currentColor" stroke-linecap="square"></path>
                    <circle stroke="currentColor" cx="8.875" cy="20.005" r="1.375"></circle>
                    <circle stroke="currentColor" cx="17.375" cy="20.005" r="1.375"></circle>
                </g>
            </svg>



            <a href="/account/login" id="customer_login_link" class="site-header__link site-header__cart"
                style="padding:0 15px">
                <svg width="20" height="20" viewBox="0 0 26 26" aria-hidden="true">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M.5.5h25v25H.5z"></path>
                        <g transform="translate(1 1)" stroke="currentColor">
                            <g transform="translate(5.86 7)">
                                <path d="M11.783 15.604A6 6 0 1 0 .186 15.49"></path>
                                <circle cx="6" cy="3" r="3"></circle>
                            </g>
                            <circle cx="12" cy="12" r="12"></circle>
                        </g>
                    </g>
                </svg>
            </a>

        </div>
    </div>
</div>







<div class="row justify-content-center" id="searchrow"  *ngIf="searchrow">
    <div class="search-btn">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input id="searchinput" type="text" class="form-control" placeholder="Search our store">
            <p class="" (click)="closeSeach()">Close</p>
        </div>
    </div>
</div>




<div *ngIf="androidnavbar" id="androidnavbar" class="container-flex" style="background-color: rgb(246, 246, 246);">
    <div class="container">
        <span><app-androidnavpopup style="display: flex;float: left;margin-top: 5px;margin-right: 5px;"></app-androidnavpopup></span>
        <!-- <svg (click)="openpopupnavbar()" xmlns="http://www.w3.org/2000/svg" width="30" style="margin-right: 4%;" height="30" fill="currentColor"
            class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg> -->
        <svg (click)="searchmodel()" xmlns="http://www.w3.org/2000/svg" width="26" style="margin-right: 16%;" height="26" fill="currentColor"
            class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
        <img src="../../../assets/zeellogo.png" alt="" style="margin-right: 12%;width: 100px;">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 2%;" width="30" height="30" fill="currentColor" class="bi bi-cart"
            viewBox="0 0 16 16">
            <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg"  style="margin-right: 0px;" width="30" height="30" fill="currentColor" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>


    </div>
</div>