<div class="container">
    <div class="row" style="padding: 35px;">
        <h3 style="text-align: center;"><b>LOGIN</b></h3>
    </div>


    <div class="row" id="windows" style="justify-content: center;">
        <div class="card" style="width: 35%;border: none;">
            <div class="container" style="margin-bottom: 60px;">
                <label style="padding: 5px;">Email</label>
                <input style="height: 40px;width: 100%;" type="email">
                <br>
                <label style="padding: 5px;">Password</label>
                <input style="height: 40px;width: 100%;" type="password">
                <br><br>
                <label for="" style="font-size: small;">Forget your password?</label>
                <br><br>
                <button
                    style="padding-left: 22px;padding-right: 22px;padding-top: 8px;padding-bottom: 5px;background-color: #01b1ba;border: none;">
                    <h6 style="color: aliceblue;">Sign In</h6>
                </button>
                <span style="margin-left: 45%;"><a routerLink="/signup"
                        style="text-decoration: underline;font-size: small;">Create Account</a></span>
            </div>
        </div>
    </div>




    <div class="row" id="android">
        <div class="container" style="margin-bottom: 60px;">
            <label style="padding: 5px;"><b>Email</b></label>
            <input style="height: 50px;width: 100%;" type="email">
            <br>
            <label style="padding: 5px;"><b>Password</b></label>
            <input style="height: 50px;width: 100%;" type="password">
            <br><br>
            <label for="">Forget your password?</label>
            <br><br>
            <button
                style="padding-left: 25px;padding-right: 25px;padding-top: 8px;padding-bottom: 5px;background-color: #01b1ba;border: none;">
                <h3 style="color: aliceblue;">Sign In</h3>
            </button>
            <span style="margin-left: 30%;"><a routerLink="/signup" style="text-decoration: underline;">Create
                    Account</a></span>
        </div>
    </div>

</div>