.popup-popupEmail .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  /* width:95%; */
  width: 38%;
  height: 95%;
  z-index: 10;
  text-align: start;
  padding: 10px;
  margin-left: 29%;
  // margin-right: 0%;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  // overflow-y: auto;
  transition-timing-function: step-end;
}

.popup-popupEmail.active .overlay {
  display: block;
  transition-timing-function: step-end;
}

.popup-popupEmail.active .content {
  // transition:all 300ms step-end;
  // transition:all 300ms ease-in-out;
  transform: translate(-45%, -50%) scale(1);
  transition-timing-function: 900ms step-end;
}
.cartpopup {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 600px) {
  .popup-popupEmail .content {
    // position: fixed;
    top: 2%;
    left: 1%;
    transform: none;
    background: #fff;
    width: 67%;
    height: 95%;
    z-index: 10;
    text-align: start;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    transition-timing-function: step-end;
  }

  .popup-popupEmail.active .overlay {
    display: block;
    transition-timing-function: step-end;
  }

  .cartpopup {
    width: 30px;
    height: 30px;
    margin-top: 7px;
  }
}
